<body>
    <main>
<!-- display box start -->
<div class="container">
    <!-- input left display -->
    <div class="row justify-content-between">
        <div class="col-4 display display-box-1">
            <p> Summoner: {{summoners.left.name}}</p>
            <p> Wins: {{summoners.left.wins}}</p>
            <p> Losses: {{summoners.left.losses}}</p>
            <p> Rank: {{summoners.left.rank}}</p>
            <p> League Points: {{summoners.left.points}}</p>
            <p> Tier: {{summoners.left.tier}}</p>
        </div>
    

    <!-- input right display -->
        <div class="col-4 display display-box-2">
            <p> Summoner: {{summoners.right.name}}</p>
            <p> Wins: {{summoners.right.wins}}</p>
            <p> Losses: {{summoners.right.losses}}</p>
            <p> Rank: {{summoners.right.rank}}</p>
            <p> League Points: {{summoners.right.points}}</p>
            <p> Tier: {{summoners.right.tier}}</p>
        </div>

        <div>
            <p>Winner... {{ summoners.winner.name }}!</p>
            <img alt="winner icon" src='http://ddragon.leagueoflegends.com/cdn/12.5.1/img/profileicon/0.png'>
        </div>
    </div>
</div>
<!-- display boxes ends -->

</main>
</body>